/**
* @name Dark
* @author HypedDomi#1711
* @authorId 354191516979429376
* @description A theme based on the Twitch colors and other stuff
* @version 0.4
* @source https://github.com/HypedDomi/BetterDiscordStuff/tree/main/Themes/Dark
* @donate https://paypal.me/dominik1711
*/

@import url(https://hypeddomi.github.io/BetterDiscordStuff/Themes/Dark/main.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/WhatsApp.css);

:root {
--version0_4: none;

/* Server Radius */
--server-radius: 8px;

/* Mention color */
--mention-color-bar: #9147ff;
--mention-color-background: #9147ff1f;
--mention-color-hover: #9147ff2f;

/* Tooltips */
--tooltips: block;

/* Discord logo */
--discord-logo: block;

/* Colors */
--color-brand: #9147ff;
--color-brand-darker: #772ce8;
--color-red: #e91916;
--color-red-darker: #bb1411;
--color-orange: #FAA61A;
--background-orange: rgba(250, 166, 0, 0.10);
--color-green: #3BA55C;
--color-green-darker: #2f8449;
--shadow-bottom: 0 1px 2px rgba(0, 0, 0, .9), 0 0 2px rgba(0, 0, 0, .9);
--user-background: #18181b;

}
 
.theme-dark {
    --background-tertiary: #0e0e10;
    --background-secondary: #1F1F23;
    --background-secondary-alt: #18191C;
    --background-primary: #0e0e10;
    --channeltextarea-background: #18191C;
    --background-accent: var(--color-brand-darker);
    --scrollbar-auto-thumb: transparent;
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: transparent;
    --chat-buttons: #676775;
    --user-buttons-color: #676775;
}
 
.theme-light {
    --background-tertiary: #D6D9DD;
    --background-secondary: #E4E6EA;
    --background-secondary-alt: #D6D9DD;
    --background-primary: #F2F2F2;
    --channeltextarea-background: #DDE1E4;
    --background-accent: #6E85D3;
    --scrollbar-auto-thumb: #D6D9DD;
    --scrollbar-auto-track: #F2F2F2;
    --scrollbar-thin-thumb: #D6D9DD;
    --chat-buttons: #5c89a5;
    --user-buttons-color: #5c89a5;
}
