/* --- 😀 PARTIE MP --- */

/* USRBG */
@import url(https://discord-custom-covers.github.io/usrbg/dist/usrbg.css);

/* Effects for some User */
@import url(https://hypeddomi.github.io/BetterDiscordStuff/Themes/special.css);

/* Settings Icons */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
    --settingsiconssize: 18px;
    --settingsiconsgap: 14px;

    --text-link: var(--color-brand);
    --brand-experiment: var(--color-brand);

    /* BetterDiscord */
    --bd-blue: var(--color-brand);
    --bd-blue-hover: var(--color-brand-darker);
    --bd-blue-active: var(--color-brand-darker);
    --blurple: var(--color-brand);

    --bdfdb-blurple: var(--color-brand);
}

html:root {
  --font-display: var(--font-primary);
}

/* UpdateCheck */
#app-mount .app-2CXKsg::before {
  content: "Your version of Dark is outdated. Please download the newest version from GitHub";
  display: var(--version1, block);
  background-color: #4a90e2;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
  z-index: 101;
}

/* Windows Buttons Part */
.wrapper-3Njo_c ul {
	height: 100% !important;
}

.typeWindows-2-g3UY {
	background-color: var(--background-primary);
}

.withFrame-2dL45i {
	height: 30px;
	margin-top: 0;
}

.winButton-3UMjdg {
	top: 0;
	width: 48px;
	height: 30px;
}

.winButtonClose-3Q8ZH5:hover {
	background-color: #e91916;
}

/* --- SERVER LIST PART --- */

/* Server List */
.base-2jDfDU { left: 0px; }
.guilds-2JjMmN .scroller-2TZvBN { contain: none !important;}
.wrapper-1Rf91z { width: 80px; margin-bottom: 63px;}
.scroller-2TZvBN { padding-bottom: 53px;}

/* Server */
.listItem-2P_4kh { padding: 0 0 10px; margin: 0px;}
.wrapper-21YSNc, .listItem-2P_4kh { width: auto; }
.wrapper-28eC3z > svg > foreignObject { mask: none; border-radius: var(--server-radius);}
.folder-21wGz3, .folder-21wGz3:hover { background-color: transparent;}
.wrapper-28eC3z foreignObject,
.folderIconWrapper-226oVY,
.folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-,
.flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--server-radius);
}

.iconInactive-26M06U {
  border-radius: calc(var(--server-radius) - 4px);
}

.wrapper-28eC3z foreignObject {
  transition: 0.2s;
}
.wrapper-28eC3z:hover foreignObject {
  border-radius: calc(var(--server-radius) - 3px);
  transition: 0.2s;
}

/* Files */
.wrapper-21YSNc > ul { height: auto !important;}
.expandedFolderBackground-2sPsd- { width: 52px; margin-left: 2px;}

/* Notice of mention */
.mention-3XBnnZ{
  background-color: var(--mention-color-bar);
  opacity: 1;
}

/* MentionBadge Server */
.lowerBadge-3WTshO .numberBadge-37OJ3S {
  background-color: var(--mention-color-bar) !important;
  color: #fff;
  animation: 2s mention infinite;
}

/* MentionBadge Channel */
.mentionsBadge-2ckrKL .numberBadge-37OJ3S {
  background-color: var(--mention-color-bar) !important;
  animation: 2s mention infinite;
  color: #fff;
}

@keyframes mention {
  0% {
    box-shadow: 0 0 0 0 var(--mention-color-bar);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Selected Server*/
.item-2LIpTv {
    background: var(--header-primary);
}

/* Home Icon Background */
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub{
  background-color: var(--color-brand);
}

/* Discord: Home: Friends - Top pills */
.children-3xh0VB,
.topPill-3DJJNV {
	height: 100%;
}
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG {
	border-radius: 0;
	border-bottom: 2px solid transparent;
	height: 100%;
	margin: 0;
}
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover {
	background-color: transparent;
	color: var(--color-brand);
}
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
	background-color: transparent !important;
	color: var(--color-brand);
	border-color: var(--color-brand);
}
/* Add Friends Button */
.tabBar-ra-EuL .item-3mHhwr[style*="color: rgb(59"],
.tabBar-ra-EuL .item-3mHhwr[style*="background-color: rgb(59"] {
	background-color: transparent !important;
	color: var(--color-green) !important;
	border-radius: 0;
	height: 100%;
	margin: 0;
}
.tabBar-ra-EuL .item-3mHhwr[style*="color: rgb(59"][aria-selected="true"],
.tabBar-ra-EuL .item-3mHhwr[style*="background-color: rgb(59"][aria-selected="true"]{
	border-bottom: 2px solid var(--color-green);
}
.root-SR8cQa .tabBarContainer-1s1u-z {
	margin: 0 20px;
}
.root-SR8cQa .item-3XjbnG {
	font-size: 13px;
	font-weight: 400;
}

/* Friends column */
.peopleColumn-1wMU14 { background: var(--background-primary);}

/* Call friends */
.primaryDark-2UJt1G {background: var(--background-secondary-alt) !important;}

/* Region selector call friends */
.regionSelectPopout-3sEzVB { background: var(--background-secondary-alt) !important;}
.quickSelect-384d3G { margin-top: 10px;}

/* --- FAIRS PART --- */

/* Server Header */
.header-3OsQeK {
	box-shadow: var(--shadow-bottom);
}

/* Dropdown Menu */
.colorDefault-CDqZdO.focused-3qFvc8 {
	background-color: var(--color-brand);
}
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
	background-color: var(--color-brand-darker);
}
.colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b,
.colorDefault-CDqZdO.focused-3qFvc8 .check-3HZJs4 {
	color: var(--color-brand);
}
.colorDefault-CDqZdO.focused-3qFvc8 {
	background-color: var(--color-brand);
}
/* Invite People */
.colorBrand-3cPPsm {
	color: var(--color-brand);
}

/* User Buttons */  
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.panels-3wFtMD > .container-YkUktl { height: 62px; }
.container-YkUktl > .flex-2S1XBF > .button-12Fmur { color: var(--user-buttons-color);}
#GameActivityToggleBtn .st0 { fill: var(--user-buttons-color);}

/* Delete the username */
.panels-3wFtMD > .container-YkUktl > .nameTag-sc-gpq { display: none;}

/* Adding room permissions role */
.header-3i_Csh { background: var(--background-secondary-alt) !important; }
.sectionTag-28mLyE { background: var(--background-secondary) !important; }

/* --- 💬 PARTIE CHAT --- */

/* Lounge bar */
.container-ZMc96U { background: var(--background-secondary) !important; }
.children-3xh0VB:after { display: none;}

/* Discord: Search: Form */
.searchBar-zdmu7v {
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	background-color: var(--channeltextarea-background);
	transition: 0.25s;
}

.searchBar-zdmu7v:hover {
	background-color: var(--channeltextarea-background);
}

.searchBar-zdmu7v:focus-within {
	background-color: var(--channeltextarea-background);
}

.searchBar-zdmu7v {
	height: 28px;
}
.search-1FM8Qc.focused-8aNhVB { transition: 0.25s;}
.focused-8aNhVB .searchBar-zdmu7v, .searchBar-zdmu7v:hover { width: 220px;}
[href="https://support.discord.com"] { display: none;}

/* Default Bar */
.barBase-3xxDXu {
	border-radius: 0;
	left: 0;
	right: 0;
	min-height: 32px;
	opacity: 1;
}

/* Bar "Failed to load messages */
.messagesErrorBar-1IQ1rH { 	
  border-radius: 0px;
	left: 0;
	right: 0;
	min-height: 24px;
	opacity: 1;
  margin-bottom: 10px;
}

/* New posts */
.newMessagesBar-1hF-9G {
	background-color: var(--color-brand);
}

/* Mentions */
.mentioned-Tre-dv:before { background: var(--mention-color-bar); padding: 1px; }
.mentioned-Tre-dv { background-color: var(--mention-color-background);}
.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy, .mouse-mode.full-motion .mentioned-Tre-dv:hover { background-color: var(--mention-color-hover);}

/* 'Follow' button */
.children-3xh0VB > .followButton-1N-GGp { background: var(--background-secondary-alt); }

/* Menu # or @*/
.autocompleteRow-14iwvH:first-of-type { background-color: var(--background-secondary-alt) !important;;}
.autocomplete-3NRXG8 { background: var(--background-secondary-alt) !important;}
.selected-3H3-RC { background: var(--background-secondary) !important;}

/* Upload message */
.uploadModal-2ie9O_ { background: var(--background-primary) !important;}
.footer-VCsJQY { background: var(--background-tertiary) !important;}

/* Emote selector */
.sprite-2lxwfc { filter: var(--colored-emoji) !important;}

#emoji-picker-tab  > .navButton-1XuvI- > .contents-3ca1mk, 
#sticker-picker-tab  > .navButton-1XuvI- > .contents-3ca1mk,
#bd-emotes-tab > .navButton-1XuvI- > .contents-3ca1mk 
{ text-indent: 100%; overflow: hidden;}

.navList-YSb9UB > #sticker-picker-tab  > .navButton-1XuvI-:after { 
    position: absolute;
    content: "";
    width: 20px; height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Dark/assets/stickers.png");
}

.navList-YSb9UB > #emoji-picker-tab  > .navButton-1XuvI-:after { 
    position: absolute;
    content: "";
    width: 20px; height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Dark/assets/emoji.png");
}

.navList-YSb9UB > #bd-emotes-tab > .navButton-1XuvI-:after { 
  position: absolute;
  content: "";
  width: 100%; height: 100%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' overflow='visible' width='40px' height='40px' version='1.1' viewBox='0 0 40 40' x='0px' y='0px'%3E%3Cpolygon xmlns='http://www.w3.org/2000/svg' points='13 8 8 13 8 31 14 31 14 36 19 31 23 31 32 22 32 8' fill='%239147ff'/%3E%3Cpolygon xmlns='http://www.w3.org/2000/svg' points='26 25 30 21 30 10 14 10 14 25 18 25 18 29 22 25' fill='%23fff'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M20,14 L22,14 L22,20 L20,20 L20,14 Z M27,14 L27,20 L25,20 L25,14 L27,14 Z' fill='%239147ff'/%3E%3C/svg%3E") center/contain no-repeat;
}

.navList-YSb9UB > * > .navButton-1XuvI- { width: 40px; padding: 8px 8px;}
.navList-YSb9UB > * > .navButton-1XuvI-.navButtonActive-1EqC5l, .emojiItem-277VFM.emojiItemSelected-2Lg50V { background-color: #6e85d321;}
.contentWrapper-3vHNP2 { grid-row-gap: 20px; padding-top: 8px;}

.header-1XpmZs > .arrow-2HswgU { display: none;}

/* Chat Buttons */
.attachButtonPlus-3IYelE { fill: var(--chat-buttons) !important;}
.buttonWrapper-3YFQGJ, .icon-1d5zch { color: var(--chat-buttons) !important; }
.colorGrey-2iAG-B { background: var(--chat-buttons); }

/* Search bar */
.container-2McqkF, .searchAnswer-23w-CH, .searchFilter-2UfsDk, .react-datepicker, .react-datepicker__header { background: var(--background-primary) !important;}
.react-datepicker__day { background: var(--background-secondary) !important;}
.react-datepicker__day:hover, .focused-2FU0YH { background: var(--background-secondary-alt) !important;}
.dim-2Uxgxb span { background: var(--background-accent) !important;}
.searchLearnMore-7__o_n, .option-2KkUJO:after { display: none; }

/* --------------------------- 👥 MEMBERS PART --------------------------- */

/* -- Activities -- */
.activityUserPopout-2MzGCj { 
  padding: 16px; margin: 8px; 
  border-radius: 5px;
  overflow: hidden;
}

.theme-dark .newPopoutActivityStyles .headerText-3g1XK9,
.theme-dark .newPopoutActivityStyles .activityName-3YXl6e, .theme-dark .newPopoutActivityStyles .content-tXPNDw, 
.theme-dark .newPopoutActivityStyles .details-2-ciHo, .theme-dark .newPopoutActivityStyles .name-1-Q7l2, 
.theme-dark .newPopoutActivityStyles .nameNormal-2fPMD2, .theme-dark .newPopoutActivityStyles .nameWrap-3TyM52  { color: white;}

.theme-dark .userPopout-2j1gM4 .spotifyIcon-2J9kSv { display: none;}
.activityUserPopout-2MzGCj { z-index: 1;}

:root .userPopout-2j1gM4 .button-f2h6uQ {
  border: none;
  background-color: #ffffff36;
  box-shadow: 0px 4px 15px #00000031;
  color: #fff;
  transition: 0.15s;
}

/* Playing */
.userPopout-2j1gM4 .contentGameImageUserPopout-34d8To::after,
.contentImagesUserPopout-Kqai8z::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -1;
  left: 0; top: 0;
  background: #7289da;
}

/* Spotify */
.userPopout-2j1gM4 .timeBarUserPopout-qLXZaR::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -1;
  left: 0; top: 0;
  background: #1db954;
}

.userPopout-2j1gM4 .timeBarUserPopout-qLXZaR + div .button-f2h6uQ {
  box-shadow: 0 4px 15px #1e9148; 
  transition: 0.15s;
}
.userPopout-2j1gM4 .timeBarUserPopout-qLXZaR + div .button-f2h6uQ:active { 
  box-shadow: none;
  transform: translateY(1px);
}

/* Background of the rest of the popup */
.body-3iLsc4, .footer-1fjuF6 { background: var(--background-secondary) !important; }

/* Roles */
.role-2mCo-N,
.role-2TIOKu {
	border-radius: .4rem;
}

/* Role selector */
.container-2O1UgZ { border: none; padding: 0;}
.container-2O1UgZ .container-2oNtJn { border-radius: 5px 5px 0 0;}
.container-2O1UgZ .list-1MBHYC { margin: 0; padding: 0;}
.container-2O1UgZ .item-1BCeuB { border-radius: 0;}

/* -- USRBG for popouts -- */
.userPopout-2j1gM4 {
	overflow: hidden;
	transform: translateZ(0) !important;
	--USRBG-banner-height: 60px;
}

.userPopout-2j1gM4[style*="--user-background"] {
	--USRBG-banner-height: 120px;
	--USRBG-avatar-offset: 76px;
}

.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position, center) center;
	background-image: var(--user-background);
}

.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N {
	height: var(--USRBG-banner-height, 120px);
}

.userPopout-2j1gM4[style*="--user-background"] .avatarWrapperNormal-ahVUaC {
  	top: var(--USRBG-avatar-offset, 76px);
}

.userPopout-2j1gM4:not([style*="--user-background"]) .avatar-2Vndt_::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: var(--USRBG-banner-height, 120px);
	pointer-events: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position, center) center;
	background-image: var(--user-background);
}

/* -- User Modal -- */

/* -- Activities -- */
.activityProfile-1712BN { 
  padding: 16px; margin: 12px;
  border-radius: 5px;
  overflow: hidden;
}

.theme-dark .newProfileActivityStyles .headerText-3g1XK9,
.theme-dark .newProfileActivityStyles .activityName-3YXl6e, .theme-dark .newProfileActivityStyles .content-tXPNDw, 
.theme-dark .newProfileActivityStyles .details-2-ciHo, .theme-dark .newProfileActivityStyles .name-1-Q7l2, 
.theme-dark .newProfileActivityStyles .nameNormal-2fPMD2, .theme-dark .newProfileActivityStyles .nameWrap-3TyM52  { color: white;}

.activityProfile-1712BN { z-index: 1;}

.theme-dark .activityProfile-1712BN .button-f2h6uQ {
  border: none;
  background-color: #ffffff36;
  box-shadow: 0px 4px 15px #00000031;
  color: #fff;
  transition: 0.15s;
}

/* Playing */
.activityProfile-1712BN .contentImagesProfile-27BIzt::after,
.contentGameImageProfile-24ty00::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -2;
  left: 0; top: 0;
  background: #7289da;
}

/* Spotify */
.activityProfile-1712BN .timeBarProfile-1z_HH-::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -1;
  left: 0; top: 0;
  background: #1db954;
}
.spotifyIcon-2J9kSv { display: none !important;}

.root-8LYsGj .body-u1Y8uL { 
  display: grid;
  grid-template-columns: 0fr 0fr;
  grid-template-areas: 
  "allactivities image content" 
  "button button button";
}
.root-8LYsGj .body-u1Y8uL .assets-3PQvAh { grid-area: image;}
.root-8LYsGj .body-u1Y8uL .content-tXPNDw { grid-area: content;}
.root-8LYsGj .body-u1Y8uL [class^="allactivities"] { grid-area: allactivities; margin: 12px 12px 0 0;}

.root-8LYsGj .body-u1Y8uL .actionsProfile-31n1ca { 
  grid-area: button; align-items: unset; margin: 0;
}
.root-8LYsGj .body-u1Y8uL .actionsProfile-31n1ca .button-TGAkj4 { margin-top: 15px;}

/* -- USRBG Big Popout -- */
.topSection-13QKHs .banner-1YaD3N{
	transform: translateZ(0);
}
.root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 240px;
}
#app-mount .topSection-13QKHs .banner-1YaD3N::before {
    content: '' !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: var(--user-background) center/cover no-repeat;
}

.activityProfile-1712BN .allactivities-left, .activityProfile-1712BN .allactivities-right {
  display: none;
}

/* Mutuals */
.root-8LYsGj .listRow-2nO1T6 {
  margin: 0; padding: 8px 12px;
}

/* --------------------------- 👤 USER SETTINGS --------------------------- */

/* Header Color */
.defaultColor-2cKwKo {
	color: var(--color-brand);
}

/* Wide settings */
.contentRegion-3HkfJJ {
  flex: 1 1 100%;
}
.contentColumn-1C7as6,
.customColumn-2n-oKU,
.sidebarScrollable-2mW9Ls + .content-2ssVKB,
.customScroller-m1-jZn > div {
  max-width: 95%;
}
.sidebar-nqHbhN {
  padding: 60px 0 35px 50px;
  width: 260px;
}
.sidebar-nqHbhN > div > .item-3XjbnG,
#bd-settings-sidebar .ui-tab-bar-item {
  padding: 8px 0 8px 10px;
  margin-bottom: 0;
  border-radius: 5px 0 0 5px;
}

/* Authorized apps */
.theme-dark .cardPrimaryOutline-1ofwVz { background-color: var(--background-secondary);}
.permissionCheckmark-2XFmCt {
	display: none;
}

/* Discord: Settings: Security */
.userSettingsSecurity-3C5Hg5 .lockIcon-1FHuKP {
	display: none;
}

.userSettingsSecurity-3C5Hg5 .isEnabled-2qCZy8 {
	color: var(--color-green);
}

/* Discord: Settings: Privacy & Safety: Radial */
.radioBar-3w9XY-[style*="#3ba55c"] {
	border-color: var(--color-green);
}

.radioBar-3w9XY-[style*="#faa61a"] {
	border-color: var(--color-orange);
}

.radioBar-3w9XY-[style*="#ed4245"] {
	border-color: var(--color-red);
}

/* Connetions */
.connectionIcon-3nqZDW {
  border-radius: 5px;
  padding: 4px;
}

/* Nitro */
.hero-1aNo0v { max-width: unset;}
.featuresHeader-2bjq5B { text-align: center;}
.theme-dark .featureProfile-2h92hd .featureTitle-3N9Stg {
	color: var(--color-green);
}
.theme-dark .featureEmoji-cnSD0D .featureTitle-3N9Stg {
	color: var(--color-orange);
}
.featurePremiumGuild-2uV6-N .featureTitle-3N9Stg {
	color: var(--color-brand);
}
.theme-dark .featureStickers-Pc_FBx .featureTitle-3N9Stg {
	color: var(--color-orange);
}
.featureStickers-Pc_FBx .badgeNew-16P_X0 {
	background-color: var(--color-brand);
}

/* Billing */
.theme-dark .paymentRow-1HKOLu,
.theme-dark .pageActions-1crTQL,
.theme-dark .codeRedemptionRedirect-3SBiCp {
  background: var(--background-secondary-alt);
}
.theme-dark .payment-2bOh4k:hover {
  background-color: var(--background-secondary);
}
.theme-dark .expandedInfo-1W31i3 {
  background: var(--background-secondary);
}
.theme-dark .checked-1pZh2h {
  background: transparent;
  border-color: transparent;
}
.theme-dark .bottomDivider-ZmTm-j {
  border-bottom-color: transparent;
}
.theme-dark .paymentPane-ut5qKZ {
	background-color: var(--background-secondary);
	color: var(--text-normal);
}
.theme-dark .payment-2bOh4k {
	background-color: var(--background-secondary);
	color: var(--text-normal);
}
.theme-dark .paginator-1eqD2g {
	background: var(--background-secondary);
}
.theme-dark .codeRedemptionRedirect-3SBiCp {
	background-color: var(--background-secondary);
	color: var(--text-normal);
	border-color: transparent;
}

/* Discord: Settings: Keybinds */
.warning-RBGtx2 .icon-2fP4ae {
	color: var(--color-orange);
}

.warning-RBGtx2 {
	background: var(--background-orange);
	border: 1px solid var(--color-orange);
}

/* Voice & Video */
.theme-dark .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background: var(--background-secondary-alt);
}

/* Game Activity */
.theme-dark .notDetected-2HEmAp,
.theme-dark .addGamePopout-3yePJc {
  background: var(--background-secondary-alt);
}
.css-17e1tep-control {
  border: none;
}
.gameVerifiedIcon-3t4jtr svg path[fill*="#7289da"] {
	fill: var(--color-brand);
}
.overlayToggleIconOff-3hGOmN .fill-MYciTJ {
	fill: var(--color-red);
}
.overlayToggleIconOff-3hGOmN rect[fill*="#ed4245"] {
	fill: var(--color-red) !important;
}

/* BetterDiscord: Settings: Buttons and switches */
.bd-addon-views .bd-view-button.selected,
.bd-button {
	background-color: var(--color-brand);
}

.bd-button:hover,
.bd-button:active,
.bd-button:focus {
	background-color: var(--color-brand-darker);
}

.bd-button.bd-button-danger {
	background-color: var(--color-red);
}

.bd-button.bd-button-danger:hover,
.bd-button.bd-button-danger:active,
.bd-button.bd-button-danger:focus {
	background-color: var(--color-red-darker);
}

.bd-switch input + .bd-switch-body, .bd-switch-handle{
  border-radius: 5px;
  rx: 5px;
}

.bd-switch input:checked + .bd-switch-body {
	--switch-color: var(--color-brand);
}

.bd-sidebar-header {
	margin-top: -10px;
}

.bd-sidebar-header .bd-icon {
	margin-left: -36px;
	margin-bottom: -22px;
}

/* --------------------------- ⚙️ SERVER SETTINGS --------------------------- */

/* Modifications notification */
.noticeRegion-qjyUVg {
  max-width: 1400px;
  right: 0;
}
.container-20TyK0 {
  background: var(--background-tertiary) !important;
}

/* Region selector */
.regionSelectModal-12e-57 {
  background: var(--background-secondary-alt) !important;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
  background: var(--background-primary) !important;
  border: none;
}

/* Roles */
.theme-dark .colorPickerCustom-1swUKF {
  background: var(--background-secondary);
  border-radius: 5px;
}

/* Emoji */
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  background: var(--background-secondary-alt);
}
.theme-dark .card-2ART2V:before {
  background: var(--background-secondary);
  border-color: transparent;
}

/* Audit logs */
.theme-dark .headerClickable-2IVFo9,
.theme-dark .headerDefault-1wrJcN,
.theme-dark .headerExpanded-CUEwZ5 {
  background: var(--background-secondary-alt);
}
.auditLog-3jNbM6 {
  border: none;
}
.divider-1pnAR2 {
  display: none;
}

/* Integrations */
.theme-dark .card-o7rAq-,
.theme-dark .header-146Xl5 {
  border: none;
}
.theme-dark .body-1zRX82,
.theme-dark .cardPrimaryEditable-2mz_3i {
  background: var(--background-secondary);
  border: none;
}

/* Overview */
.css-gvi9bl-control,
.css-6fzn47-control {
  border: none;
}
.theme-dark .css-3vaxre-menu {
  background: var(--background-secondary-alt);
  border: none;
}

/* Activate community modal */
.css-dwar6a-menu { background-color: var(--background-secondary-alt);}

/* Welcome screen */
.descriptionInput-3b30C8 {
  background: var(--background-secondary-alt);
  border: none;
}

/* Server Boost Status */
.theme-dark .tierBody-x9kBBp {
  background: var(--background-secondary);
}
.theme-dark .tierHeaderContent-2-YfvN,
.theme-dark .tierInProgress-1vFUnw {
  background: var(--background-secondary-alt);
}
.theme-dark .background-3xJH_4 {
  color: var(--background-secondary-alt);
}

/* Members */
.theme-dark .overflowRolesPopout-1Puiuq {
  background: var(--background-secondary);
}

/* --------------------------- 🌺 OTHER --------------------------- */

/* Joining message */
.theme-dark .contentWrapper-3oy4Xo {
  background: var(--background-secondary);
}

/* Welcome message */
.root-g14mjS:not(.modal-3Crloo) {
  background: var(--background-secondary);
}

/* Deleting Discord watermark */
.wordmark-2u86JB svg {
  display: var(--discord-logo);
}

/* Watch stream popout */
.theme-dark .body-2khErn {
  background: var(--background-tertiary);
}

/* Deleting message confirmation */
.theme-dark .message-G6O-Wv {
  background: var(--background-primary);
}

/* Tooltips */
.tooltip-14MtrL {
  display: var(--tooltips);
  background: var(--background-tertiary);
}
.theme-dark .tooltipBlack-vMYxvw .tooltipPointer-3L49xb {
  border-top-color: var(--background-tertiary);
}

/* Keyboard shortcuts */
.theme-dark .keyboardShortcutsModal-2CRmCm {
  background: var(--background-primary);
}
.theme-dark .keybindShortcut-3zF1P9 span {
  border-radius: 1px;
}

/* Discord games */
.theme-dark .scroller-s-wehS {
  background: var(--background-primary);
}
.theme-dark .whyYouMightLikeIt-2N2Df7,
.theme-dark .content-1W9-9i,
.theme-dark .bodySection-3iDdop,
.theme-dark .row-2qQ--F {
  background: var(--background-secondary);
}

/* Popups */
.theme-dark .root-g14mjS,
.theme-dark .footer-31IekZ,
.theme-dark .modal-2RrUKJ {
  box-shadow: none;
}

/* Cross */
.theme-dark .default-1Tkeeg,
.theme-dark .default-1Tkeeg:hover {
  background-color: var(--background-tertiary);
}

/* >:( fuck borders */
.theme-dark .messageGroupWrapper-1jf_7C,
.theme-dark .inputDefault-3FGxgL,
.theme-dark .container-30qY7E,
.theme-dark .cardPrimary-3qRT__,
.theme-dark .cardPrimaryOutline-1ofwVz,
.theme-dark .codeRedemptionRedirect-3SBiCp,
.theme-dark .previewOverlay-2reuWf,
.theme-dark .markup-eYLPri code {
  border: none;
}

/* PermisssionViewer support, thx _david_ */
#permissions-modal-wrapper #permissions-modal {
  box-shadow: none !important;
  border: none !important;
}
#permissions-modal-wrapper .header {
  background: var(--background-tertiary) !important;
  text-align: center !important;
}
#permissions-modal-wrapper .role-side,
#permissions-modal-wrapper .perm-side {
  background: var(--background-secondary) !important;
}

/* BetterFormattingRedux support */
#bfredux:before {
  background: var(--background-primary);
}

/* Reaction popout */
.theme-dark .scroller-2GkvCq {
  background: var(--background-tertiary);
}
.theme-dark .container-KM8BU6,
.theme-dark .reactors-1VXca7 {
  background: var(--background-secondary);
}
.reactionSelected-1aMb2K,
.reactionDefault-1Sjj1f:hover {
  margin-right: 6px;
}
.theme-dark .reactionSelected-1aMb2K {
  background-color: #6e85d321;
}

/* Spotify session */
.theme-dark .invite-3uuHYQ {
  background-color: var(--background-secondary);
  border-color: transparent;
}

/* Attachement */
.attachment-1PZZB2 {
  border: none;
}

/* Spotify embed */
.embedSpotify-1rDvOE {
  border-radius: 5px;
}

/* Discord Gift */
.theme-dark .tile-2mmK5T {
  background-color: var(--background-secondary);
}
.theme-dark .tileHorizontal-1DBMDZ.tile-2mmK5T:hover {
  background-color: var(--background-secondary-alt);
}
.theme-dark .invalidPoop--w1123 {
  background-color: rgba(0, 0, 0, 0.103);
}

/* Spoiler */
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum,
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum:hover {
  background-color: var(--background-secondary-alt);
}

/* Audio player */
.theme-dark .wrapperAudio-1Bzv_Z {
  padding: 10px 0 0 0;
  border-color: transparent;
}
.theme-dark .audioMetadata-1Hrt8T {
  padding: 5px 10px;
}
.theme-dark .audioControls-3fmemK {
  border-radius: 0;
}

/* HLJS Support */
.hljs.scrollbar-3vVt8d {
  background-color: var(--background-secondary) !important;
}

/* SCTR connection */
.theme-dark .container-1ILvLB .header-2C89wJ {
  background-color: var(--background-tertiary);
}
.theme-dark .container-1ILvLB section {
  background-color: var(--background-secondary);
}

/* Member Count support */
.theme-dark #MemberCount {
  background-color: var(--background-secondary) !important;
}

/* Friend call buttons */
.colorable-3rVGna.primaryDark-2UJt1G,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
  background: var(--background-primary);
}
.bottomControls-31YuPK foreignObject {
  mask: none;
}
.bottomControls-31YuPK .centerButton-1IShs7 {
  border-radius: var(--server-radius);
}

/* Server radius */
.wrapper-28eC3z foreignObject { mask: none; }
.wrapperSimple-Js2rIO { overflow: visible;}

.wrapperSimple-Js2rIO,
.wrapper-28eC3z foreignObject,
.folderIconWrapper-226oVY,
.folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-,
.flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--server-radius);
}

.iconInactive-26M06U {
  border-radius: calc(var(--server-radius) - 4px);
}

.wrapper-28eC3z foreignObject {
  transition: 0.2s;
}
.wrapper-28eC3z:hover foreignObject {
  border-radius: calc(var(--server-radius) - 3px);
  transition: 0.2s;
}

/* Buttons */
/* Discord: Button: Filled - Brand */
.lookFilled-yCfaCM.colorBrand-I6CyqQ,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
	background-color: var(--color-brand);
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
	background-color: var(--color-brand-darker);
}

/* Discord: Button: Outlined - Brand */
.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
	color: var(--color-brand);
	border-color: var(--color-brand);
}

.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover {
	color: var(--color-brand-darker);
	border-color: var(--color-brand-darker);
}

/* Discord: Button: Filled - Red */
.lookFilled-yCfaCM.colorRed-rQXKgM {
	background-color: var(--color-red);
}

.lookFilled-yCfaCM.colorRed-rQXKgM:hover,
.lookFilled-yCfaCM.colorRed-rQXKgM:active {
	background-color: var(--color-red-darker);
}

/* Button: Outlined - Red */
.lookOutlined-3yKVGo.colorRed-rQXKgM {
	color: var(--color-red);
	border-color: var(--color-red);
}

.lookOutlined-3yKVGo.colorRed-rQXKgM:hover {
	color: var(--color-red-darker);
	border-color: var(--color-red-darker);
}

/* Discord: Button: Filled - Green */
.lookFilled-yCfaCM.colorGreen-3y-Z79,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx {
	background-color: var(--color-green);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover,
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
	background-color: var(--color-green-darker);
}

/* Discord: Button: Outlined - Green */
.lookOutlined-3yKVGo.colorGreen-3y-Z79 {
	color: var(--color-green);
	border-color: var(--color-green);
}

.lookOutlined-3yKVGo.colorGreen-3y-Z79:hover {
	color: var(--color-green-darker);
	border-color: var(--color-green-darker);
}

/* Switch */
.container-2nx-BQ, .input-2XRLou {
  border-radius: 5px;
}
.slider-32CRPX rect {
  rx: 5px;
}
.container-2nx-BQ {
	background-color: var(--color-brand) !important;
}
.container-2nx-BQ[style*="background-color: rgb(114"] {
	background-color: #3e3e40 !important;
}

/* Live Indicator */
.live-1V2D-f {
	background-color: var(--color-red);
}

.liveShapeRound-2Tgi2d {
	border-radius: 4px;
}

/* Replace Message Link with 'Jump to Message' */
[href^="https://discord.com/channels/"] {
  line-height:0;
  font-size:0;
}
[href^="https://discord.com/channels/"]::before {
  content:'Jump to Message';
  font-size:16px;
}

/* Bot Tag */
.botTagRegular-kpctgU {
	background: var(--color-brand);
}

/* Game Verified Icon */
.gameVerifiedIcon-3t4jtr svg path[fill*="#7289da"] {
	fill: var(--color-brand);
}