/* --- 😀 PARTIE MP --- */

/* USRBG */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* Effects for some User */
@import url(https://hypeddomi.github.io/BetterDiscordStuff/Themes/special.css);

/* Settings Icons */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
:root {
    --settingsiconssize: 18px;
    --settingsiconsgap: 14px;
}

html:root {
  --font-display: var(--font-primary);
}

/* UpdateCheck */
#app-mount .app-2CXKsg::before {
  content: "Your version of Squared is outdated. Please download the newest version from GitHub";
  display: var(--version1, block);
  background-color: #4a90e2;
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 500;
  text-align: center;
  z-index: 101;
}

/* --------------------------- 🚥 WINDOWS BUTTONS PART --------------------------- */

.winButton-3UMjdg:not(:last-child) > svg {
    display: none;
  }
  .winButton-3UMjdg:hover {
    background-color: var(--background-teritary);
  }
  .winButton-3UMjdg:not(:last-child)::after {
    content: "";
    border-radius: 50px;
    pointer-events: fill;
  }
  .winButtonClose-3Q8ZH5 {
    margin-right: 5px;
  }
  .winButtonClose-3Q8ZH5:after {
    padding: 6px;
  }
  .winButtonClose-3Q8ZH5::after {
    background-image: url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/close.png");
    background-size: 100%;
  }
  .winButtonClose-3Q8ZH5:hover::after {
    background-image: url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/close_hover.png");
    background-size: 100%;
  }
  
  .winButtonMinMax-3RsPUg:nth-child(3):after {
    background-color: #faa61a;
    padding: 5px;
  }
  .winButtonMinMax-3RsPUg:nth-child(3):hover::after {
    background-color: #faa81ae5;
  }
  
  .winButtonMinMax-3RsPUg:last-child {
    color: #43b581;
  }
  .winButtonMinMax-3RsPUg:last-child:hover {
    color: #43b582e3;
  }
  .winButtonMinMax-3RsPUg:last-child rect {
    height: 3px;
    rx: 2px;
  }  

/* Collone amis */
.peopleColumn-1wMU14 { background: var(--background-primary);}

/* Appel amis */
.primaryDark-2UJt1G {background: var(--background-secondary-alt) !important;}

/* Selecteur région appel amis */
.regionSelectPopout-3sEzVB { background: var(--background-secondary-alt) !important;}
.quickSelect-384d3G { margin-top: 10px;}

/* Activité amis */
.itemCard-3Etziu, .itemCard-3Etziu:hover, .popout-3Zw0qN { background: var(--background-tertiary) !important;}
.wrapper-3Rixsz:hover, .memberListItem-31QoHj:hover, .body-16rSsp { background: var(--background-secondary-alt) !important;}

/* --------------------------- 🟢 STATUS PICKER --------------------------- */

/* Avatar */
.panels-3wFtMD > .container-YkUktl > .avatarWrapper-1B9FTW {
  position: fixed; 
  bottom: 18px; 
  left: 18px;
  z-index: 1;
}
.avatarWrapper-1B9FTW > .avatar-1EWyVD:hover { opacity: 1;}
.avatarWrapper-1B9FTW > .avatar-1EWyVD.wrapper-1VLyxH { padding: 3px; }
.avatar-1EWyVD foreignObject { mask: var(--avatar-mask); border-radius: var(--avatar-radius);}
.avatar-1EWyVD rect { opacity: var(--avatar-status); pointer-events: none;}

.full-motion .animatorTop-3ltI52.didRender-2SiRlm {
  transform: unset !important;
  transition: opacity 0.15s linear 0s;
}

#status-picker {
  position: fixed;
  bottom: 22.5px;
  left: 77px;
  width: 230px;
  height: 105px;
  background: var(--background-tertiary);
  border-radius: 5px;
}

/* Fixing z-index issue */
.panels-3wFtMD { z-index: unset;}

/* Status grid */
#status-picker > .scroller-1bVxF5 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 40px 40px;
  margin: auto 4px 4px 4px;
}

/* Status */
.item-1OdjEX:not(#status-picker-custom-status) > .statusItem-2hiCNB {
  grid-template-columns: 100% 1fr;
}
#status-picker > .scroller-1bVxF5 > .item-1OdjEX,
#status-picker > .scroller-1bVxF5 > .submenuContainer-3EVTeH > .item-1OdjEX {
  border-radius: 5px;
  margin: 3px;
  transition: 0.2s;
}
#status-picker .item-1OdjEX.focused-3qFvc8 {
  transition: 0.2s;
}
.mask-2Me5HY.icon-Lz4Y-_ {
  height: 18px;
  width: 18px;
  margin: auto;
}
.customEmoji-1nCP1t {
  width: 20px;
  height: 20px;
}
.customText-36Uwzc {
  font-size: 15px;
}
.customEmojiPlaceholder-3mRJqA {
  background-image: url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/emoji.png");
}

/* Custom status */
#status-picker-custom-status {
  grid-column: 1/5;
  margin: auto 3px !important;
}

#status-picker-custom-status .status-3TYC5W {
  display: block;
}

/* Hiding text and separators */
.separator-1So4YB,
.status-3TYC5W,
.description-3Cwkxk {
  display: none;
}

/* Game Activity Toggle */
#status-picker [aria-label="Hide Game Activity"]:after,
#status-picker [aria-label="Show Game Activity"]:after {
  content: "Not supported in this area";
}

/* Support plugin CustomStatusPresets */
#status-picker .submenuContainer-3EVTeH { grid-column: 1/5;}

/* Custom status modal */
.select-1Ia3hD,
.popout-1KHNAq {
  border: none;
}
.select-1Ia3hD.open-1FRZsK,
.popout-1KHNAq {
  background-color: var(--background-secondary-alt);
  transition: 0.15s;
}
.theme-dark .footer-31IekZ {
  background: var(--background-tertiary);
}

/* --- 📜 PARTIE LISTE SERVEURS --- */

/* Liste serveur */
.base-2jDfDU { left: 0px; }
.guilds-2JjMmN .scroller-2TZvBN { contain: none !important;}
.wrapper-1Rf91z { width: 80px; margin-bottom: 63px;}
.scroller-2TZvBN { padding-bottom: 53px;}

/* Serveurs */
.listItem-2P_4kh { padding: 0 0 10px; margin: 0px;}
.wrapper-21YSNc, .listItem-2P_4kh { width: auto; }
.wrapper-28eC3z > svg > foreignObject { mask: none; border-radius: var(--server-radius);}
.folder-21wGz3, .folder-21wGz3:hover { background-color: transparent;}
.wrapper-28eC3z foreignObject,
.folderIconWrapper-226oVY,
.folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-,
.flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--server-radius);
}

.iconInactive-26M06U {
  border-radius: calc(var(--server-radius) - 4px);
}

.wrapper-28eC3z foreignObject {
  transition: 0.2s;
}
.wrapper-28eC3z:hover foreignObject {
  border-radius: calc(var(--server-radius) - 3px);
  transition: 0.2s;
}

/* Dossiers */
.wrapper-21YSNc > ul { height: auto !important;}
.expandedFolderBackground-2sPsd- { width: 52px; margin-left: 2px;}

/* Vizality - Spotify */
.spotify-in-discord-player {
    position: fixed;
    transition: left 0.5s;
    bottom: 63px;
    left: -212px;
    z-index: 2;
    width: 280px;
    background: var(--background-secondary-alt);
    border-radius: 0 5px 5px 0;
}
.spotify-in-discord-player > .container-YkUktl > .spotify-in-discord-player-inner > .avatarWrapper-1B9FTW {  margin: 0 0 0 9px; }
.spotify-in-discord-player > .container-YkUktl > .spotify-in-discord-player-inner > .avatarWrapper-1B9FTW > .avatar-1EWyVD.spotify-in-discord-player-album-cover { width: 40px !important; height: 40px !important; }
.spotify-in-discord-player > .container-YkUktl > .spotify-in-discord-player-inner { flex-direction: row-reverse; margin-bottom: 0;}
.spotify-in-discord-player:hover { left: 0px; z-index: 6;}

/* Powercord - Spotify */
.powercord-spotify {
    position: fixed;
    transition: left 0.5s;
    bottom: 63px;
    left: -212px;
    z-index: 2;
    width: 280px;
    background: var(--background-secondary-alt);
    border-radius: 0 5px 5px 0;
}
.powercord-spotify > .container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD.spotify-cover { width: 40px !important; height: 40px !important; }
.powercord-spotify > .container-YkUktl > .avatarWrapper-1B9FTW { margin-right: 0;}
.powercord-spotify:hover { left: 0px; z-index: 6;}
.powercord-spotify > .container-YkUktl { flex-direction: row-reverse;}
.powercord-spotify > .container-YkUktl > .nameTag-sc-gpq { margin-right: 20px;}
.spotify-buttons { margin-right: 10px;}
.powercord-spotify.hover .spotify-seek-elements { display: none; }

/* Notification de mention */

/* Top */
.unreadMentionsIndicatorTop-gA6RCh { width: 100%; height: 25px; padding: 0; top: 5px;}
.unreadMentionsIndicatorTop-gA6RCh > .unreadMentionsBar-1VrBNe { 
    border-radius: 16; 
    background: #f04747;
}
.unreadMentionsIndicatorTop-gA6RCh > .unreadMentionsBar-1VrBNe:active { background: #f04747;}

/* Bottom */
.unreadMentionsIndicatorBottom-BXS58x { width: 100%; height: 25px; padding: 0; bottom: 5px;}
.unreadMentionsIndicatorBottom-BXS58x > .unreadMentionsBar-1VrBNe {
    border-radius: 16; 
    background: #f04747;
}
.unreadMentionsIndicatorBottom-BXS58x > .unreadMentionsBar-1VrBNe:active { background: #f04747;}

.unreadMentionsBar-1VrBNe > .text-2GsXbW { display: block;}

/* Pill for server list */
.pill-1m5BUr:not(.unread), .pill-1m5BUr:not([vz-unread]), 
.pill-31IEus:not(.unread), .pill-31IEus:not([vz-unread]) { display: flex;}

/* Selected Server*/
.item-2LIpTv {
    background: var(--header-primary);
}

/* --- ✏️ PARTIE SALONS --- */

/* Menu serveur */
#guild-header-popout > .scroller-1bVxF5 > div > .labelContainer-2vJzYL { flex-direction: row-reverse;}
#guild-header-popout > .scroller-1bVxF5 > div > .labelContainer-2vJzYL > .iconContainer-1-SsTR { margin: 0 8px 0 0;}

/* Boost */
#guild-header-popout-premium-subscribe:hover > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-premium-subscribe:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #FF73FA;}
#guild-header-popout-premium-subscribe:hover, #guild-header-popout-premium-subscribe:active:not(.hideInteraction-2jPGL_) { background-color: #ff73fa34; border-radius: 5px 5px 0 0;}

/* Invite */
#guild-header-popout-invite-people:hover > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-invite-people:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #677BC4;}
#guild-header-popout-invite-people:hover, #guild-header-popout-invite-people:active:not(.hideInteraction-2jPGL_) { background-color: #677bc442; color: #677BC4;}

/* Settings */
#guild-header-popout-settings > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-settings:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #546E7A;}
#guild-header-popout-settings:hover, #guild-header-popout-settings:active:not(.hideInteraction-2jPGL_){ background-color: #546e7a36;}

/* Insights */
#guild-header-popout-insights > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-insights:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #1ABC9C;}
#guild-header-popout-insights:hover, #guild-header-popout-insights:active:not(.hideInteraction-2jPGL_) { background-color: #1abc9c38;}

/* Create channel */
#guild-header-popout-create-channel > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-create-channel:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #E91E63;}
#guild-header-popout-create-channel:hover, #guild-header-popout-create-channel:active:not(.hideInteraction-2jPGL_) { background-color: #e91e6238;}

/* Create category */
#guild-header-popout-create-category > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-create-category:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #EAA14E;}
#guild-header-popout-create-category:hover, #guild-header-popout-create-category:active:not(.hideInteraction-2jPGL_) { background-color: #eaa14e34;}

/* Notifications */
#guild-header-popout-notifications > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-notifications:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #FCD462;}
#guild-header-popout-notifications:hover, #guild-header-popout-notifications:active:not(.hideInteraction-2jPGL_){ background-color: #e9bb4832;}

/* Privacy */
#guild-header-popout-privacy > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-privacy:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #4a84d4;}
#guild-header-popout-privacy:hover, #guild-header-popout-privacy:active:not(.hideInteraction-2jPGL_) { background-color: #4a83d434;}

/* Nickname */
#guild-header-popout-change-nickname> .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-change-nickname:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #43B581;}
#guild-header-popout-change-nickname:hover, #guild-header-popout-change-nickname:active:not(.hideInteraction-2jPGL_) { background-color: #43b5823a;}

/* Hide muted channels */
#guild-header-popout-hide-muted-channels:hover > .iconContainer-1-SsTR > svg > path:first-child { color: #5C6FB1;}
#guild-header-popout-hide-muted-channels:hover, #guild-header-popout-hide-muted-channels:active:not(.hideInteraction-2jPGL_) { background-color: #5c6eb141;}
#guild-header-popout-hide-muted-channels:hover > .iconContainer-1-SsTR > svg > path:last-child { color: #fff;}

/* Leave */
#guild-header-popout-leave:hover > .iconContainer-1-SsTR > .icon-E4cW1l, #guild-header-popout-leave:active:not(.hideInteraction-2jPGL_) > .iconContainer-1-SsTR > .icon-E4cW1l { color: #F04747;}
#guild-header-popout-leave:hover, #guild-header-popout-leave:active:not(.hideInteraction-2jPGL_) { background-color: #f047472f; color: #F04747;}

/* Boutons utilisateur */  
.panels-3wFtMD > .container-YkUktl > .flex-2S1XBF {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.panels-3wFtMD > .container-YkUktl { height: 62px; }
.container-YkUktl > .flex-2S1XBF > .button-12Fmur { color: var(--user-buttons-color);}
#GameActivityToggleBtn .st0 { fill: var(--user-buttons-color);}

/* Supprime le pseudo utilisateur */
.panels-3wFtMD > .container-YkUktl > .nameTag-sc-gpq { display: none;}

/* Flèche catégeories */
.mainContent-uDGa6R > .arrow-2HswgU { display: none; }

/* Ajout rôle permissions salon */
.header-3i_Csh { background: var(--background-secondary-alt) !important; }
.sectionTag-28mLyE { background: var(--background-secondary) !important; }

/* Notification */

/* Top */
.container-1-ERn5 {  background: var(--background-secondary) !important; z-index: 3;}
.unreadTop-1DJtGv { width: 100%; padding: 0; z-index: 2; top: 5px;}

/* Bottom */
.unreadBottom-3Ojk6R { width: 100%; height: 30px; padding: 0;}

/* Top - Ping */
.unreadTop-1DJtGv > .unreadBar-elBRZx.mention-3XBnnZ { border-radius: 16; background: #f04747;}

/* Bottom - Ping */
.unreadBottom-3Ojk6R > .unreadBar-elBRZx.mention-3XBnnZ { border-radius: 16; background: #f04747;}

/* Top - Nouveaux messages */
.unreadTop-1DJtGv > .unreadBar-elBRZx.unread-2wipsx { border-radius: 16; background: #667BC3;}

/* Bottom - Nouveaux messages */
.unreadBottom-3Ojk6R > .unreadBar-elBRZx.unread-2wipsx { border-radius: 16; background: #667BC3;}

.unreadBar-elBRZx > .text-2GsXbW { display: block; }

/* Unread pill for channel list */

.unread-36eUEm { 
    top: 54%; left: 5px; 
    width: 6px; height: 6px;
    background-color: #7289da; 
    box-shadow: 0 0 12px 0 #7289da;
    border-radius: 10px; 
}

/* MentionBadge Server */
.lowerBadge-3WTshO .numberBadge-37OJ3S {
  color: #fff;
  animation: 2s mention infinite;
}

/* MentionBadge Channel */
.mentionsBadge-2ckrKL .numberBadge-37OJ3S {
  animation: 2s mention infinite;
  color: #fff;
}

@keyframes mention {
  0% {
    box-shadow: 0 0 0 0 #f04747;
  }
  70% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


/* --- 💬 PARTIE TCHAT --- */

/* Barre du salon */
.container-ZMc96U { background: var(--background-secondary) !important; }
.children-3xh0VB:after { display: none;}
.search-39IXmY { order: 1;}
.search-39IXmY > div > div { width: 27px; transition: 0.25s;}
.search-1FM8Qc.focused-8aNhVB { transition: 0.25s;}
.focused-8aNhVB .searchBar-zdmu7v, .searchBar-zdmu7v:hover { width: 220px;}
/*.avatar-2e8lTP {mask: none; border-radius: var(--avatar-radius);}*/
[href="https://support.discord.com"] { display: none;}

/* Barre "Echec de chargement des messages */
.messagesErrorBar-1IQ1rH { border-radius: 100px; padding-bottom: 0; margin-bottom: 5px;}

/* Nouveaux messages */
.newMessagesBar-1hF-9G { background-color: #6e85d3; border-radius: 50px; margin-top: 5px; }

/* Mentions */
.mentioned-Tre-dv:before { background: var(--mention-color-bar); padding: 1px; }
.mentioned-Tre-dv { background-color: var(--mention-color-background);}
.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy, .mouse-mode.full-motion .mentioned-Tre-dv:hover { background-color: var(--mention-color-hover);}

/* Bouton 'Suivre' */
.children-3xh0VB > .followButton-1N-GGp { background: var(--background-secondary-alt); }

/* Revenir aux messages récents */
.jumpToPresentBar-1cEnH0, .jumpToPresentBar-1cEnH0:active { margin-bottom: 13px; border-radius: 50px; padding: 0;}

/* Menu # ou @ */
.autocompleteRow-14iwvH:first-of-type { background-color: var(--background-secondary-alt) !important;;}
.autocomplete-3NRXG8 { background: var(--background-secondary-alt) !important;}
.selected-3H3-RC { background: var(--background-secondary) !important;}

/* Message d'upload */
.uploadModal-2ie9O_ { background: var(--background-primary) !important;}
.footer-VCsJQY { background: var(--background-tertiary) !important;}

/* Selecteur d'emotes */
.sprite-2lxwfc { filter: var(--colored-emoji) !important;}

#emoji-picker-tab  > .navButton-1XuvI- > .contents-3ca1mk, 
#sticker-picker-tab  > .navButton-1XuvI- > .contents-3ca1mk,
#bd-emotes-tab > .navButton-1XuvI- > .contents-3ca1mk 
{ text-indent: 100%; overflow: hidden;}

.navList-YSb9UB > #sticker-picker-tab  > .navButton-1XuvI-:after { 
    position: absolute;
    content: "";
    width: 20px; height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/stickers.png");
}

.navList-YSb9UB > #emoji-picker-tab  > .navButton-1XuvI-:after { 
    position: absolute;
    content: "";
    width: 20px; height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/emoji.png");
}

.navList-YSb9UB > #bd-emotes-tab > .navButton-1XuvI-:after { 
  position: absolute;
  content: "";
  width: 100%; height: 100%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' overflow='visible' width='40px' height='40px' version='1.1' viewBox='0 0 40 40' x='0px' y='0px'%3E%3Cpolygon xmlns='http://www.w3.org/2000/svg' points='13 8 8 13 8 31 14 31 14 36 19 31 23 31 32 22 32 8' fill='%239147ff'/%3E%3Cpolygon xmlns='http://www.w3.org/2000/svg' points='26 25 30 21 30 10 14 10 14 25 18 25 18 29 22 25' fill='%23fff'/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' d='M20,14 L22,14 L22,20 L20,20 L20,14 Z M27,14 L27,20 L25,20 L25,14 L27,14 Z' fill='%239147ff'/%3E%3C/svg%3E") center/contain no-repeat;
}

.navList-YSb9UB > * > .navButton-1XuvI- { width: 40px; padding: 8px 8px;}
.navList-YSb9UB > * > .navButton-1XuvI-.navButtonActive-1EqC5l, .emojiItem-277VFM.emojiItemSelected-2Lg50V { background-color: #6e85d321;}
.contentWrapper-3vHNP2 { grid-row-gap: 20px; padding-top: 8px;}

.header-1XpmZs > .arrow-2HswgU { display: none;}

/* i'm blue dabedi dabeda */
.attachButtonPlus-3IYelE { fill: var(--chat-buttons) !important;}
.buttonWrapper-3YFQGJ, .icon-1d5zch { color: var(--chat-buttons) !important; }
.colorGrey-2iAG-B { background: var(--chat-buttons); }

/* Barre de recherche */
.container-2McqkF, .searchAnswer-23w-CH, .searchFilter-2UfsDk, .react-datepicker, .react-datepicker__header { background: var(--background-primary) !important;}
.react-datepicker__day { background: var(--background-secondary) !important;}
.react-datepicker__day:hover, .focused-2FU0YH { background: var(--background-secondary-alt) !important;}
.dim-2Uxgxb span { background: var(--background-accent) !important;}
.searchLearnMore-7__o_n, .option-2KkUJO:after { display: none; }

/* --------------------------- 👥 MEMBERS PART --------------------------- */

/* -- Member popout -- */
.userPopout-2j1gM4 { box-shadow: 0 0 10px 0 #101320d2;}
.userPopout-2j1gM4 > * { background: var(--background-secondary);}

.userPopout-2j1gM4 .headerTop-3GPUSF {
  padding: 54px 16px 16px 16px;
  background-color: var(--background-secondary);
}
.userPopout-2j1gM4 .body-2wLx-E .customStatus-3XAoF9, :root .userPopout-2j1gM4 .body-2wLx-E .aboutMeSection-PUghFQ {
  background-color: var(--background-secondary);
}
.userPopout-2j1gM4 .body-2wLx-E .divider-1wtgZ3 {
  display: none;
}
.userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k {
  background-color: transparent;
}

.userPopout-2j1gM4 .body-2wLx-E .bodyInnerWrapper-2bQs1k .activity-1gTu-L {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}

.footer-1fjuF6 .inputDefault-3FGxgL {
  border: none;
  background: var(--background-secondary-alt);
}

.note-3HfJZ5 .textarea-_59yqs:focus { -color: var(--background-tertiary);}

/* -- Activities -- */
.activityUserPopout-2MzGCj { 
  padding: 16px; margin: 4px; 
  border-radius: 5px;
  overflow: hidden;
}

.theme-dark .newPopoutActivityStyles .headerText-3g1XK9,
.theme-dark .newPopoutActivityStyles .activityName-3YXl6e, .theme-dark .newPopoutActivityStyles .content-tXPNDw, 
.theme-dark .newPopoutActivityStyles .details-2-ciHo, .theme-dark .newPopoutActivityStyles .name-1-Q7l2, 
.theme-dark .newPopoutActivityStyles .nameNormal-2fPMD2, .theme-dark .newPopoutActivityStyles .nameWrap-3TyM52  { color: white;}

.theme-dark .userPopout-2j1gM4 .spotifyIcon-2J9kSv { display: none;}
.activityUserPopout-2MzGCj { z-index: 1;}

:root .userPopout-2j1gM4 .button-f2h6uQ {
  border: none;
  background-color: #ffffff36;
  box-shadow: 0px 4px 15px #00000031;
  color: #fff;
  transition: 0.15s;
}

/* Playing */
.userPopout-2j1gM4 .contentGameImageUserPopout-34d8To::after,
.contentImagesUserPopout-Kqai8z::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -1;
  left: 0; top: 0;
  background: #7289da;
}

/* Spotify */
.userPopout-2j1gM4 .timeBarUserPopout-qLXZaR::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -1;
  left: 0; top: 0;
  background: #1db954;
}

.userPopout-2j1gM4 .timeBarUserPopout-qLXZaR + div .button-f2h6uQ {
  box-shadow: 0 4px 15px #1e9148; 
  transition: 0.15s;
}
.userPopout-2j1gM4 .timeBarUserPopout-qLXZaR + div .button-f2h6uQ:active { 
  box-shadow: none;
  transform: translateY(1px);
}

/* Roles */
.role-2TIOKu {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: solid;
  border-width: 0px 0px 0px 3px;
  border-radius: 1px 3px 3px 1px;
}

.roleCircle-1EgnFN {
  width: var(--role-circle) !important;
  height: var(--role-circle) !important;
}

.roleCircle-1EgnFN::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.3;
  z-index: -1;
}

/* Roles selector */
.container-2O1UgZ {
  z-index: 1003;
  border: none;
  padding: 0;
  background-color: #191f2e;
}
.container-2O1UgZ .container-2oNtJn {
  border-radius: 5px 5px 0 0;
}
.container-2O1UgZ .list-1MBHYC {
  margin: 0;
  padding: 0;
}
.container-2O1UgZ .item-1BCeuB {
  border-radius: 0;
}
.popoutRoleDot-2_Nt5g { width: 0; border: none; margin: 0;}

.item-1BCeuB {
  margin: 5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.popoutRoleDot-2_Nt5g:before {
  position: absolute;
  border-radius: 5px;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  opacity: 0.2;
  z-index: -1;
}

/* -- USRBG for popouts -- */
.userPopout-2j1gM4 {
	overflow: hidden;
	transform: translateZ(0) !important;
	--USRBG-banner-height: 60px;
}

.userPopout-2j1gM4[style*="--user-background"] {
	--USRBG-banner-height: 120px;
	--USRBG-avatar-offset: 76px;
}

.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position, center) center;
	background-image: var(--user-background);
}

.userPopout-2j1gM4[style*="--user-background"] .banner-1YaD3N {
	height: var(--USRBG-banner-height, 120px);
}

.userPopout-2j1gM4[style*="--user-background"] .avatarWrapperNormal-ahVUaC {
  	top: var(--USRBG-avatar-offset, 76px);
}

.userPopout-2j1gM4:not([style*="--user-background"]) .avatar-2Vndt_::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: var(--USRBG-banner-height, 120px);
	pointer-events: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position, center) center;
	background-image: var(--user-background);
}

/* -- User modal -- */

/* Friend request */
.topSection-13QKHs .actionButton-iarQTd {
  background: #43b582b2 !important;
  backdrop-filter: blur(10px);
}

/* Infos / Activities / Server / Friends */
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) {
  border-top: none;
  padding-left: 0;
  padding-top: 0;
}
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) > .tabBar-2hXqzU {
  justify-content: center;
}
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="USER_INFO-tab"],
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="ACTIVITY-tab"],
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="MUTUAL_GUILDS-tab"],
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="MUTUAL_FRIENDS-tab"] {
  text-indent: 100%;
  overflow: hidden;
  margin: 0 30px;
  width: 30px;
}
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="USER_INFO-tab"]:after,
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="ACTIVITY-tab"]:after,
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="MUTUAL_GUILDS-tab"]:after,
.tabBarContainer-sCZC4w:not(.flex-2S1XBF) [aria-controls="MUTUAL_FRIENDS-tab"]:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tabBarItem-30Te4-[aria-controls="USER_INFO-tab"]:after {
  background-image: url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/user.png");
}
.tabBarItem-30Te4-[aria-controls="ACTIVITY-tab"]:after {
  background-image: url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/activity.png");
}
.tabBarItem-30Te4-[aria-controls="MUTUAL_GUILDS-tab"]:after {
  background-image: url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/guild.png");
}
.tabBarItem-30Te4-[aria-controls="MUTUAL_FRIENDS-tab"]:after {
  background-image: url("https://hypeddomi.github.io/BetterDiscordStuff/Themes/Squared/assets/friend.png");
}

.activityProfile-1712BN .allactivities-left, .activityProfile-1712BN .allactivities-right {
  display: none;
}

/* -- Activities -- */
.activityProfile-1712BN { 
  padding: 16px; margin: 12px;
  border-radius: 5px;
  overflow: hidden;
}

.theme-dark .newProfileActivityStyles .headerText-3g1XK9,
.theme-dark .newProfileActivityStyles .activityName-3YXl6e, .theme-dark .newProfileActivityStyles .content-tXPNDw, 
.theme-dark .newProfileActivityStyles .details-2-ciHo, .theme-dark .newProfileActivityStyles .name-1-Q7l2, 
.theme-dark .newProfileActivityStyles .nameNormal-2fPMD2, .theme-dark .newProfileActivityStyles .nameWrap-3TyM52  { color: white;}

.activityProfile-1712BN { z-index: 1;}

.theme-dark .activityProfile-1712BN .button-f2h6uQ {
  border: none;
  background-color: #ffffff36;
  box-shadow: 0px 4px 15px #00000031;
  color: #fff;
  transition: 0.15s;
}

/* Playing */
.activityProfile-1712BN .contentImagesProfile-27BIzt::after,
.contentGameImageProfile-24ty00::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -2;
  left: 0; top: 0;
  background: #7289da;
}

/* Spotify */
.activityProfile-1712BN .timeBarProfile-1z_HH-::after {
  content: ""; position: absolute;
  width: 100%; height: 100%; z-index: -1;
  left: 0; top: 0;
  background: #1db954;
}
.spotifyIcon-2J9kSv { display: none !important;}

.root-8LYsGj .body-u1Y8uL { 
  display: grid;
  grid-template-columns: 0fr 0fr;
  grid-template-areas: 
  "allactivities image content" 
  "button button button";
}
.root-8LYsGj .body-u1Y8uL .assets-3PQvAh { grid-area: image;}
.root-8LYsGj .body-u1Y8uL .content-tXPNDw { grid-area: content;}
.root-8LYsGj .body-u1Y8uL [class^="allactivities"] { grid-area: allactivities; margin: 12px 12px 0 0;}

.root-8LYsGj .body-u1Y8uL .actionsProfile-31n1ca { 
  grid-area: button; align-items: unset; margin: 0;
}
.root-8LYsGj .body-u1Y8uL .actionsProfile-31n1ca .button-TGAkj4 { margin-top: 15px;}

/* Connections */
.connectedAccount-1xKpli {
  border: solid #151b27;
  border-width: 1.2px 1.2px 3px 1.2px;
  border-radius: 4px;
  width: 250px;
  transition: 0.1s;
}
.connectedAccount-1xKpli:active {
  border-width: 1.2px 1.2px 1.2px 1.2px;
  transform: translateY(1px);
  transition: 0.1s;
}

.connectedAccountIcon-2vls0t {
  padding: 5px;
  border-radius: 4px;
}
.connectedAccountName-j0meX4 {
  margin-left: 13px;
}

/* Mutuals */
.root-8LYsGj .listRow-2nO1T6 {
  margin: 0; padding: 8px 12px;
}

/* -- USRBG Big Popout -- */
.topSection-13QKHs .banner-1YaD3N{
	transform: translateZ(0);
}
.root-8LYsGj[style*="--user-background"] .banner-1YaD3N {
  height: 240px;
}
#app-mount .topSection-13QKHs .banner-1YaD3N::before {
    content: '' !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: var(--user-background) center/cover no-repeat;
}

/* --------------------------- 👤 USER SETTINGS --------------------------- */

/* Wide settings */
.contentRegion-3HkfJJ {
  flex: 1 1 100%;
}
.contentColumn-1C7as6,
.customColumn-2n-oKU,
.sidebarScrollable-2mW9Ls + .content-2ssVKB,
.customScroller-m1-jZn > div {
  max-width: 95%;
}
.sidebar-nqHbhN {
  padding: 60px 0 35px 50px;
  width: 260px;
}
.sidebar-nqHbhN > div > .item-3XjbnG,
#bd-settings-sidebar .ui-tab-bar-item {
  padding: 8px 0 8px 10px;
  margin-bottom: 0;
  border-radius: 5px 0 0 5px;
}

/* Authorized apps */
.theme-dark .cardPrimaryOutline-1ofwVz { background-color: var(--background-secondary);}

/* Connetions */
.connectionIcon-3nqZDW {
  border-radius: 5px;
  padding: 4px;
}

/* Nitro */
.hero-1aNo0v { max-width: unset;}
.featuresHeader-2bjq5B { text-align: center;}

/* Billing */
.theme-dark .paymentRow-1HKOLu,
.theme-dark .pageActions-1crTQL,
.theme-dark .codeRedemptionRedirect-3SBiCp {
  background: var(--background-secondary-alt);
}
.theme-dark .payment-2bOh4k:hover {
  background-color: var(--background-secondary);
}
.theme-dark .expandedInfo-1W31i3 {
  background: var(--background-secondary);
}
.theme-dark .checked-1pZh2h {
  background: transparent;
  border-color: transparent;
}
.theme-dark .bottomDivider-ZmTm-j {
  border-bottom-color: transparent;
}

/* Voice & Video */
.theme-dark .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
  background: var(--background-secondary-alt);
}

/* Game Activity */
.theme-dark .notDetected-2HEmAp,
.theme-dark .addGamePopout-3yePJc {
  background: var(--background-secondary-alt);
}
.css-17e1tep-control {
  border: none;
}

/* --------------------------- ⚙️ SERVER SETTINGS --------------------------- */

/* Modifications notification */
.noticeRegion-qjyUVg {
  max-width: 1400px;
  right: 0;
}
.container-20TyK0 {
  background: var(--background-tertiary) !important;
}

/* Region selector */
.regionSelectModal-12e-57 {
  background: var(--background-secondary-alt) !important;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
  background: var(--background-primary) !important;
  border: none;
}

/* Roles */
.theme-dark .colorPickerCustom-1swUKF {
  background: var(--background-secondary);
  border-radius: 5px;
}

/* Emoji */
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  background: var(--background-secondary-alt);
}
.theme-dark .card-2ART2V:before {
  background: var(--background-secondary);
  border-color: transparent;
}

/* Audit logs */
.theme-dark .headerClickable-2IVFo9,
.theme-dark .headerDefault-1wrJcN,
.theme-dark .headerExpanded-CUEwZ5 {
  background: var(--background-secondary-alt);
}
.auditLog-3jNbM6 {
  border: none;
}
.divider-1pnAR2 {
  display: none;
}

/* Integrations */
.theme-dark .card-o7rAq-,
.theme-dark .header-146Xl5 {
  border: none;
}
.theme-dark .body-1zRX82,
.theme-dark .cardPrimaryEditable-2mz_3i {
  background: var(--background-secondary);
  border: none;
}

/* Overview */
.css-gvi9bl-control,
.css-6fzn47-control {
  border: none;
}
.theme-dark .css-3vaxre-menu {
  background: var(--background-secondary-alt);
  border: none;
}

/* Activate community modal */
.css-dwar6a-menu { background-color: var(--background-secondary-alt);}

/* Welcome screen */
.descriptionInput-3b30C8 {
  background: var(--background-secondary-alt);
  border: none;
}

/* Server Boost Status */
.theme-dark .tierBody-x9kBBp {
  background: var(--background-secondary);
}
.theme-dark .tierHeaderContent-2-YfvN,
.theme-dark .tierInProgress-1vFUnw {
  background: var(--background-secondary-alt);
}
.theme-dark .background-3xJH_4 {
  color: var(--background-secondary-alt);
}

/* Members */
.theme-dark .overflowRolesPopout-1Puiuq {
  background: var(--background-secondary);
}

/* --------------------------- 🌺 OTHER --------------------------- */

/* Joining message */
.theme-dark .contentWrapper-3oy4Xo {
  background: var(--background-secondary);
}

/* Welcome message */
.root-g14mjS:not(.modal-3Crloo) {
  background: var(--background-secondary);
}

/* Deleting Discord watermark */
.wordmark-2u86JB svg {
  display: var(--discord-logo);
}

/* Watch stream popout */
.theme-dark .body-2khErn {
  background: var(--background-tertiary);
}

/* Deleting message confirmation */
.theme-dark .message-G6O-Wv {
  background: var(--background-primary);
}

/* Tooltips */
.tooltip-14MtrL {
  display: var(--tooltips);
  background: var(--background-tertiary);
}
.theme-dark .tooltipBlack-vMYxvw .tooltipPointer-3L49xb {
  border-top-color: var(--background-tertiary);
}

/* Keyboard shortcuts */
.theme-dark .keyboardShortcutsModal-2CRmCm {
  background: var(--background-primary);
}
.theme-dark .keybindShortcut-3zF1P9 span {
  border-radius: 1px;
}

/* Discord games */
.theme-dark .scroller-s-wehS {
  background: var(--background-primary);
}
.theme-dark .whyYouMightLikeIt-2N2Df7,
.theme-dark .content-1W9-9i,
.theme-dark .bodySection-3iDdop,
.theme-dark .row-2qQ--F {
  background: var(--background-secondary);
}

/* Popups */
.theme-dark .root-g14mjS,
.theme-dark .footer-31IekZ,
.theme-dark .modal-2RrUKJ {
  box-shadow: none;
}

/* Cross */
.theme-dark .default-1Tkeeg,
.theme-dark .default-1Tkeeg:hover {
  background-color: var(--background-tertiary);
}

/* >:( fuck borders */
.theme-dark .messageGroupWrapper-1jf_7C,
.theme-dark .inputDefault-3FGxgL,
.theme-dark .container-30qY7E,
.theme-dark .cardPrimary-3qRT__,
.theme-dark .cardPrimaryOutline-1ofwVz,
.theme-dark .codeRedemptionRedirect-3SBiCp,
.theme-dark .previewOverlay-2reuWf,
.theme-dark .markup-eYLPri code {
  border: none;
}

/* PermisssionViewer support, thx _david_ */
#permissions-modal-wrapper #permissions-modal {
  box-shadow: none !important;
  border: none !important;
}
#permissions-modal-wrapper .header {
  background: var(--background-tertiary) !important;
  text-align: center !important;
}
#permissions-modal-wrapper .role-side,
#permissions-modal-wrapper .perm-side {
  background: var(--background-secondary) !important;
}

/* BetterFormattingRedux support */
#bfredux:before {
  background: var(--background-primary);
}

/* Reaction popout */
.theme-dark .scroller-2GkvCq {
  background: var(--background-tertiary);
}
.theme-dark .container-KM8BU6,
.theme-dark .reactors-1VXca7 {
  background: var(--background-secondary);
}
.reactionSelected-1aMb2K,
.reactionDefault-1Sjj1f:hover {
  margin-right: 6px;
}
.theme-dark .reactionSelected-1aMb2K {
  background-color: #6e85d321;
}

/* Spotify session */
.theme-dark .invite-3uuHYQ {
  background-color: var(--background-secondary);
  border-color: transparent;
}

/* Attachement */
.attachment-1PZZB2 {
  border: none;
}

/* Spotify embed */
.embedSpotify-1rDvOE {
  border-radius: 5px;
}

/* Discord Gift */
.theme-dark .tile-2mmK5T {
  background-color: var(--background-secondary);
}
.theme-dark .tileHorizontal-1DBMDZ.tile-2mmK5T:hover {
  background-color: var(--background-secondary-alt);
}
.theme-dark .invalidPoop--w1123 {
  background-color: rgba(0, 0, 0, 0.103);
}

/* Spoiler */
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum,
.theme-dark .spoilerText-27bIiA.hidden-3B-Rum:hover {
  background-color: var(--background-secondary-alt);
}

/* Audio player */
.theme-dark .wrapperAudio-1Bzv_Z {
  padding: 10px 0 0 0;
  border-color: transparent;
}
.theme-dark .audioMetadata-1Hrt8T {
  padding: 5px 10px;
}
.theme-dark .audioControls-3fmemK {
  border-radius: 0;
}

/* HLJS Support */
.hljs.scrollbar-3vVt8d {
  background-color: var(--background-secondary) !important;
}

/* SCTR connection */
.theme-dark .container-1ILvLB .header-2C89wJ {
  background-color: var(--background-tertiary);
}
.theme-dark .container-1ILvLB section {
  background-color: var(--background-secondary);
}

/* Member Count support */
.theme-dark #MemberCount {
  background-color: var(--background-secondary) !important;
}

/* Avatar mask on hover */
.avatarHint-1E3LMl { display: none;}

/* Avatars masks */
.callAvatarMask-fiNMWy foreignObject,
.avatarContainer-gPrCzX foreignObject {
  mask: none;
}

/* Avatars radius */
.avatar-2e8lTP,
.profile-1o7I_1 .avatarUploaderInner-yEhTv5,
.voiceAvatar-lRbblo,
.border-2BJQjd,
.wrapper-3mYmFS.ringingIncoming-fibTw-:after,
.wrapper-3mYmFS.ringingOutgoing-1NjfRn:after,
.replyAvatar-sHd2sU,
.appAvatar-2_lufo {
  border-radius: var(--avatar-radius);
}
/* Remove Speaking Ring from Status Picker */
.avatarSpeaking-33RRJU{ display: none; }

/* Friend call buttons */
.colorable-3rVGna.primaryDark-2UJt1G,
.colorable-3rVGna.primaryDark-2UJt1G:hover {
  background: var(--background-primary);
}
.bottomControls-31YuPK foreignObject {
  mask: none;
}
.bottomControls-31YuPK .centerButton-1IShs7 {
  border-radius: var(--server-radius);
}

/* Server radius */
.wrapper-28eC3z foreignObject { mask: none; }
.wrapperSimple-Js2rIO { overflow: visible;}

.wrapperSimple-Js2rIO,
.wrapper-28eC3z foreignObject,
.folderIconWrapper-226oVY,
.folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-,
.flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--server-radius);
}

.iconInactive-26M06U {
  border-radius: calc(var(--server-radius) - 4px);
}

.wrapper-28eC3z foreignObject {
  transition: 0.2s;
}
.wrapper-28eC3z:hover foreignObject {
  border-radius: calc(var(--server-radius) - 3px);
  transition: 0.2s;
}

/* Buttons */
.container-2nx-BQ,
.input-2XRLou {
  border-radius: 5px;
}
.slider-32CRPX rect {
  rx: 5px;
}

/* Replace Message Link with 'Jump to Message' */
[href^="https://discord.com/channels/"] {
  line-height:0;
  font-size:0;
}
[href^="https://discord.com/channels/"]::before {
  content:'Jump to Message';
  font-size:16px;
}