.item {
    color: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background: var(--background-secondary);
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.buttonContainerInner {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.buttonContainerInner button {
    width: 100%;
}