.spectators-panel {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid var(--background-modifier-accent);
    .spectators {
        margin-top: 4px;
        padding-bottom: 4px;
    }
}