/* HypedDomi#1711 */

/* Messages */
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU[src*="354191516979429376"]+.username-h_Y3Us,
.listRow-hutiT_ .listAvatar-1NlAhb .avatarStack-3vfSFa[src*="354191516979429376"]+.username-3JLfHz,
[data-author-id="354191516979429376"] .contents-2MsGLg .username-h_Y3Us,
[data-user-id="354191516979429376"] .contents-2MsGLg .username-h_Y3Us,

/* Modal */
.root-8LYsGj[data-user-id="354191516979429376"] .username-3JLfHz,

/* DM List */
.channel-1Shao0[data-user-id="354191516979429376"] .overflow-1wOqNV,

/* Popout */
[aria-label="HypedDomi"] .username-3JLfHz,

/* Friend list */
.peopleListItem-u6dGxF[data-user-id="354191516979429376"] .username-3JLfHz.username-Qpc78p { 
  animation: flow 6s ease-in-out infinite;
  background: linear-gradient(to right, #9900ff, #ff0000);
  background-size: 350%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* JustInGame#5353 */

/* Messages */
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU[src*="465821010042814465"]+.username-h_Y3Us,
.listRow-hutiT_ .listAvatar-1NlAhb .avatarStack-3vfSFa[src*="465821010042814465"]+.username-3JLfHz,
[data-author-id="465821010042814465"] .contents-2MsGLg .username-h_Y3Us,
[data-user-id="465821010042814465"] .contents-2MsGLg .username-h_Y3Us,

/* Modal */
.root-8LYsGj[data-user-id="465821010042814465"] .username-3JLfHz,

/* Popout */
[aria-label="JustInGame"] .username-3JLfHz,

/* DM List */
.channel-1Shao0[data-user-id="465821010042814465"] .overflow-1wOqNV,

/* Friend list */
.peopleListItem-u6dGxF[data-user-id="465821010042814465"] .username-3JLfHz.username-Qpc78p { 
  animation: flow 6s ease-in-out infinite;
  background: linear-gradient(to right, #0010ed, #0095ff);
  background-size: 350%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hops#3227 */

/* Messages */
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU[src*="706566395542110249"]+.username-h_Y3Us,
.listRow-hutiT_ .listAvatar-1NlAhb .avatarStack-3vfSFa[src*="706566395542110249"]+.username-3JLfHz,
[data-author-id="706566395542110249"] .contents-2MsGLg .username-h_Y3Us,
[data-user-id="706566395542110249"] .contents-2MsGLg .username-h_Y3Us,

/* Modal */
.root-8LYsGj[data-user-id="706566395542110249"] .username-3JLfHz,

/* Popout */
[aria-label="Hops"] .username-3JLfHz,

/* DM List */
.channel-1Shao0[data-user-id="706566395542110249"] .overflow-1wOqNV,

/* Friend list */
.peopleListItem-u6dGxF[data-user-id="706566395542110249"] .username-3JLfHz.username-Qpc78p { 
  animation: flow 6s ease-in-out infinite;
  background: linear-gradient(to right, #ff00ff, #00ffff);
  background-size: 350%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Keksrabatt#1030 */

/* Messages */
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU[src*="678753992066727946"]+.username-h_Y3Us,
.listRow-hutiT_ .listAvatar-1NlAhb .avatarStack-3vfSFa[src*="678753992066727946"]+.username-3JLfHz,
[data-author-id="678753992066727946"] .contents-2MsGLg .username-h_Y3Us,
[data-user-id="678753992066727946"] .contents-2MsGLg .username-h_Y3Us,

/* Modal */
.root-8LYsGj[data-user-id="678753992066727946"] .username-3JLfHz,

/* Popout */
[aria-label="Keksrabatt"] .username-3JLfHz,

/* DM List */
.channel-1Shao0[data-user-id="678753992066727946"] .overflow-1wOqNV,

/* Friend list */
.peopleListItem-u6dGxF[data-user-id="678753992066727946"] .username-3JLfHz.username-Qpc78p { 
  animation: flow 6s ease-in-out infinite;
  background: linear-gradient(to right, #9900ff, #ff0000);
  background-size: 350%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* laurii#4649 */

/* Messages */
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU[src*="709775475140198451"]+.username-h_Y3Us,
.listRow-hutiT_ .listAvatar-1NlAhb .avatarStack-3vfSFa[src*="709775475140198451"]+.username-3JLfHz,
[data-author-id="709775475140198451"] .contents-2MsGLg .username-h_Y3Us,
[data-user-id="709775475140198451"] .contents-2MsGLg .username-h_Y3Us,

/* Modal */
.root-8LYsGj[data-user-id="709775475140198451"] .username-3JLfHz,

/* Popout */
[aria-label="laurii"] .username-3JLfHz,

/* DM List */
.channel-1Shao0[data-user-id="709775475140198451"] .overflow-1wOqNV,

/* Friend list */
.peopleListItem-u6dGxF[data-user-id="709775475140198451"] .username-3JLfHz.username-Qpc78p { 
  animation: flow 6s ease-in-out infinite;
  background: linear-gradient(to right, #E91E63, #861EE9);
  background-size: 350%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Bαmbus#6118 */

/* Messages */
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU[src*="648794263567597569"]+.username-h_Y3Us,
.listRow-hutiT_ .listAvatar-1NlAhb .avatarStack-3vfSFa[src*="648794263567597569"]+.username-3JLfHz,
[data-author-id="648794263567597569"] .contents-2MsGLg .username-h_Y3Us,
[data-user-id="648794263567597569"] .contents-2MsGLg .username-h_Y3Us,

/* Modal */
.root-8LYsGj[data-user-id="648794263567597569"] .username-3JLfHz,

/* Popout */
[aria-label="Bαmbus"] .username-3JLfHz,

/* DM List */
.channel-1Shao0[data-user-id="648794263567597569"] .overflow-1wOqNV,

/* Friend list */
.peopleListItem-u6dGxF[data-user-id="648794263567597569"] .username-3JLfHz { 
  animation: rainbow 9s ease-in-out infinite;
}

/* JustDannyboi#9376 */

/* Messages */
.repliedMessage-3Z6XBG .replyAvatar-sHd2sU[src*="674664573118447636"]+.username-h_Y3Us,
.listRow-hutiT_ .listAvatar-1NlAhb .avatarStack-3vfSFa[src*="674664573118447636"]+.username-3JLfHz,
[data-author-id="674664573118447636"] .contents-2MsGLg .username-h_Y3Us,
[data-user-id="674664573118447636"] .contents-2MsGLg .username-h_Y3Us,

/* Modal */
.root-8LYsGj[data-user-id="674664573118447636"] .username-3JLfHz,

/* DM List */
.channel-1Shao0[data-user-id="674664573118447636"] .overflow-1wOqNV,

/* Popout */
[aria-label="JustDannyboi"] .username-3JLfHz,

/* Friend list */
.peopleListItem-u6dGxF[data-user-id="674664573118447636"] .username-3JLfHz.username-Qpc78p { 
  animation: flow 6s ease-in-out infinite;
  background: linear-gradient(to right, #00F7F4, #E91E63);
  background-size: 350%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes rainbow {
  0%{color: #ff0000;}
  12%{color: #ffbf00;}
  25%{color: #80ff00;}
  37%{color: #00ff40;}
  50%{color: #00ffff;}
  62%{color: #0040ff;}
  75%{color: #8000ff;}
  87%{color: #eb34bd;}
  100%{color: #ff0000;}
}